.card{
  margin-right:-10px;
  margin-left:-10px;
  border:0;
  margin-bottom: 10px;
}
.card>.card-body{
  padding:0.333rem;
}
.card>.card-body>.card-title{
  margin-bottom:0.25rem;
}
.card>.card-body>.card-text{
  margin-bottom:0.2rem;
}
